.homepage-link {
  color: white;
  text-decoration: underline;
  text-decoration-color: white; }

.homepage-link:link {
  color: white; }

.homepage-link:visited {
  color: white; }

.homepage-link:hover {
  color: black;
  text-decoration-color: black; }

#footer-timestamp {
  color: #454545;
  font-size: 0.8em;
  position: absolute;
  bottom: 7px;
  right: 5px; }
