footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 30px;
  background-color: red;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background: #6cf;
}
