#covo-toolbar-and-drawer .no-decoration-link {
	text-decoration: none;
	border-bottom: none;
}
#covo-toolbar-and-drawer .no-decoration-link:link {
}
#covo-toolbar-and-drawer .no-decoration-link:visited {
	color: white;
}
#covo-toolbar-and-drawer .no-decoration-link:hover {
	text-decoration: none;
	border-bottom: none;
}
#toolbar-covo-logo {
	height: 45px;
}
