// My main Sass file.
$mdc-theme-primary: #1db6e7;
$mdc-theme-secondary: #fe70c4;
$mdc-theme-background: #b0b0b0;

@import "@material/theme/mdc-theme.scss";

#covo-web-app {
  height: 100%;
  width: 100%;
}
#covo-header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  right: 0px;
  overflow: hidden;
}
#covo-page-content {
  position: absolute;
  top: 65px;
  bottom: 30px;
  left: 0px;
  right: 0px;
  overflow: auto;
}
#covo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  height: 30px;
  left: 0px;
  right: 0px;
  background: #6cf;
}
