// My main Sass file.
$mdc-theme-primary: #1db6e7;
$mdc-theme-secondary: #fe70c4;
$mdc-theme-background: #b0b0b0;

@import "@material/theme/mdc-theme.scss";

#covo-web-app {
  height: 100%;
  width: 100%;
}
