// My main Sass file.
$mdc-theme-primary: rgb(29, 182, 231);
$mdc-theme-secondary: rgba(244, 58, 169, 0.57);
$mdc-theme-background: rgb(176, 176, 176);

@import "material-components-web/material-components-web";
