//index.scss
// My main Sass file.
$mdc-theme-primary: #1db6e7;
$mdc-theme-secondary: #fe70c4;
$mdc-theme-background: #ffffff;

//material-components-web is included in rmwc
@import "material-components-web/material-components-web";
