#covo-footer .homepage-link {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}
#covo-footer .homepage-link:link {
  color: black;
}
#covo-footer .homepage-link:visited {
  color: black;
}
#covo-footer .homepage-link:hover {
  color: black;
  text-decoration-color: white;
}
#covo-footer #footer-timestamp {
  color: rgb(69, 69, 69);
  font-size: 0.8em;
  position: absolute;
  bottom: 7px;
  right: 5px;
}
